/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #b7d49d;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #eaf4f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #7e0707;
    padding: 8px;
  }
  
  th {
    background-color: #d15c90;
  }
  
  .inr-price {
    color: #007bff;
    font-weight: bold;
  }
  