/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #cee4c3;
    margin-top: 20%;
    margin-left: 35%;
    
    
  }
  
 
  label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  input {
    padding: 5px 10px;
    border: 1px solid #d61818;
    border-radius: 3px;
  }
  
  button {
    padding: 8px 20px;
    background-color: #2449c0;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d34a10;
  }
  
  p {
    margin: 0;
    padding: 10px;
    border: 1px solid #dbc9ca;
    border-radius: 3px;
  }
  
  